extends content-layout

block append styles
    link(rel="stylesheet", href="/stylesheets/contact.css")

block content
    #contact-content
        h2 Hit me up!
        p I love collaboration and constructive criticism

        img(src="images/mail_icon.png")
        p(id="email") evan.cook10@icloud.com
